body {background: url("../img/bg.jpg") no-repeat center center fixed;}

/*-----------------MENU-TOP----------------*/
.marketing.off-canvas-wrap .marketing-left-off-canvas-menu {top:0px; bottom:0px; position:absolute; background:none repeat scroll 0% 0% #333;
box-sizing:content-box; transition:transform 500ms ease 0s; transform:translate3d(-100%, 0px, 0px); z-index:1001; width:250px;}

nav ul li a {
    font-weight: bold !important;
    font-size: 14px !important;
}
nav ul li a:hover {
    background-color: rgb(0, 77, 188) !important;
}

/*-----------------CUERPO SITIO------------*/
.contenedor{margin-top: 40px;}
.contenedor .row{background-color: white;}
.formulario, h2 {margin: 8px 25px; color: blue;}
.formulario label {color: blue;font-weight: bold;}
.inner-wrap .row {background-color: white; margin: 20px auto;min-height: 545px;}
.inner-wrap .row .articulos p {
    margin: 0px;
    color: blue;
}
/*.inner-wrap .row .medium-12 {
    background-color: #5C90B4;
}*/
.inner-wrap .row h1 {
    color: blue;
}