{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Buscar</title>
  <link rel="stylesheet" href="{% static "css/foundation.css" %}"/>
  <script src="{% static "js/vendor/modernizr.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>
<body>

<div class="marketing off-canvas-wrap" data-offcanvas="">
  <div class="inner-wrap">
  
  <!--MENU DESKTOPS-->
  <nav class="top-bar docs-bar hide-for-small" data-topbar="">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/admin/">ADMIN</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><a href="/">INICIO</a></li>
        <li><a href="/insertar/">INSERTAR</a></li>      
        <li><a href="/buscar/">BUSCAR</a></li>
        <li><a href="/eliminar/">ELIMINAR</a></li>
        <li><a href="{% static "Documentacion-Django.pdf" %}">DOCUMENTACION</a></li>
      </ul>
    </section>
  </nav>
  <!--END MENU DESKTOPS-->

  <!--MENU MOVILES-->
  <nav class="tab-bar show-for-small">
    <a aria-expanded="false" class="left-off-canvas-toggle menu-icon">
      <span>Bio</span>
    </a>
  </nav>
  <aside class="marketing-left-off-canvas-menu">
    <ul class="off-canvas-list">
      <li><a href="/">INICIO</a></li>
      <li><a href="/insertar/">INSERTAR</a></li>
      <li><a href="/buscar/">BUSCAR</a></li>
      <li><a href="/eliminar/">ELIMINAR</a></li>
      <li><a href="{% static "Documentacion-Django.pdf" %}">DOCUMENTACION</a></li>
    </ul>
  </aside>
  <a class="exit-off-canvas" href="#"></a>
  <!--END MENU MOVILES-->
  
    <div class="row">
      
      {% if query %}
        <div class="medium-12 columns">
          <h2>Resultados para "{{ query|escape }}":</h2>
          {% if resultados %}
              {% for documentos in resultados %}
                <p><b><i>Titulo:</i></b> {{ documentos.titulo | escape }}</p>
                <p><b><i>Fecha:</i></b> {{ documentos.fecha | escape }}</p>
                <p><b><i>Abstracto:</i></b> {{ documentos.abstracto | escape }}</p>
                <p><b><i>Comentarios:</i></b> {{ documentos.comentarios | escape }}</p>
                <p><b><i>Numero de paginas:</i></b> {{ documentos.numPaginas | escape }}</p>
                <p><b><i>Palabras clave:</i></b> {{ documentos.palClave | escape }}</p>
                <p><b><i>URL:</i></b> {{ documentos.url | escape }}</p>
                <hr>
              {% endfor %}
          {% else %}
            <p>No hay documentos encontrados</p>
          {% endif %}
        </div>
        {% endif %}

      {% if query%}
        <div class="medium-12 columns">
      {% else %}
        <div class="medium-6 columns">
      {% endif %}
        <h1>Buscar</h1>
        <form action="." method="GET">
          <div class="medium-12 columns"><label for="titulo">Titulo: </label>
          <input type="text" name="titulo" ></div>
          <div class="medium-12 columns"><input type="submit" value="Buscar"></div>
        </form>
        <form action="." method="GET">
          <p>Fecha:</p>
          <div class="medium-4 columns"><label for="fecha">Año: </label>
          <input type="text" name="fecha_y" ></div>
          <div class="medium-4 columns"><label for="fecha">Mes: </label>
          <input type="text" name="fecha_m" ></div>
          <div class="medium-4 columns"><label for="fecha">Dia: </label>
          <input type="text" name="fecha_d" ></div>
          
          <div class="medium-12 columns"><input type="submit" value="Buscar"></div>
        </form>
        <form action="." method="GET">
          <div class="medium-12 columns"><label for="abstracto">Abstracto: </label>
          <input type="text" name="abstracto" ></div>
          <div class="medium-12 columns"><input type="submit" value="Buscar"></div>
        </form>
        <form action="." method="GET">
          <div class="medium-12 columns"><label for="comentarios">Comentarios: </label>
          <input type="text" name="comentarios" ></div>
          <div class="medium-12 columns"><input type="submit" value="Buscar"></div>
        </form>
        <form action="." method="GET">
          <div class="medium-12 columns"><label for="numpag">Numero de paginas: </label>
          <input type="text" name="numpag" ></div>
          <div class="medium-12 columns"><input type="submit" value="Buscar"></div>
        </form>
        <form action="." method="GET">
          <div class="medium-12 columns"><label for="palcla">Palabras clave: </label>
          <input type="text" name="palcla" ></div>
          <div class="medium-12 columns"><input type="submit" value="Buscar"></div>
        </form>
        <form action="." method="GET">
          <div class="medium-12 columns"><label for="url">URL: </label>
          <input type="text" name="url" ></div>
          <div class="medium-12 columns"><input type="submit" value="Buscar"></div>
        </form>
      </div>

    </div>
</div>
  
  <script src="{% static "js/vendor/jquery.js" %}"></script>
  <script src="{% static "js/foundation.min.js" %}"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
