{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Eliminar</title>
  <link rel="stylesheet" href="{% static "css/foundation.css" %}"/>
  <script src="{% static "js/vendor/modernizr.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>
<body>

<div class="marketing off-canvas-wrap" data-offcanvas="">
  <div class="inner-wrap">
  
  <!--MENU DESKTOPS-->
  <nav class="top-bar docs-bar hide-for-small" data-topbar="">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/admin/">ADMIN</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><a href="/">INICIO</a></li>
        <li><a href="/insertar/">INSERTAR</a></li>      
        <li><a href="/buscar/">BUSCAR</a></li>
        <li><a href="/eliminar/">ELIMINAR</a></li>
        <li><a href="{% static "Documentacion-Django.pdf" %}">DOCUMENTACION</a></li>
      </ul>
    </section>
  </nav>
  <!--END MENU DESKTOPS-->

  <!--MENU MOVILES-->
  <nav class="tab-bar show-for-small">
    <a aria-expanded="false" class="left-off-canvas-toggle menu-icon">
      <span>Bio</span>
    </a>
  </nav>
  <aside class="marketing-left-off-canvas-menu">
    <ul class="off-canvas-list">
	    <li><a href="/">INICIO</a></li>
      <li><a href="/insertar/">INSERTAR</a></li>      
      <li><a href="/buscar/">BUSCAR</a></li>
      <li><a href="/eliminar/">ELIMINAR</a></li>
      <li><a href="{% static "Documentacion-Django.pdf" %}">DOCUMENTACION</a></li>
     </ul>
  </aside>
  <a class="exit-off-canvas" href="#"></a>
  <!--END MENU MOVILES-->
  
    <div class="row">

        <h1>Articulos en la base de datos</h1>
          <div class="articulos">
            {% for objetos in articulos %}
            <div class="medium-12 columns">
              <p><a href="/buscar/?q={{ objetos.titulo }}"><b>Titulo:</b> <i>{{ objetos.titulo }}</i></a></p>
                <form action="." method="get">
                  <input type="hidden" name="titulo" value="{{ objetos.titulo }}">
                  <input type="submit" value="eliminar">
                </form>
              <hr>
            </div>
            {% endfor %}
          </div>
    </div>
</div>
  
  <script src="{% static "js/vendor/jquery.js" %}"></script>
  <script src="{% static "js/foundation.min.js" %}"></script>
  <script>
    $(document).foundation();
  </script>

</body>
</html>
