{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bioinformatica</title>
  <link rel="stylesheet" href="{% static "css/foundation.css" %}"/>
  <script src="{% static "js/vendor/modernizr.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>
<body>

<div class="marketing off-canvas-wrap" data-offcanvas="">
  <div class="inner-wrap">
  
  <!--MENU DESKTOPS-->
  <nav class="top-bar docs-bar hide-for-small" data-topbar="">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/admin/">ADMIN</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><a href="/">INICIO</a></li>
        <li><a href="/insertar/">INSERTAR</a></li>      
        <li><a href="/buscar/">BUSCAR</a></li>
        <li><a href="/eliminar/">ELIMINAR</a></li>
        <li><a href="{% static "Documentacion-Django.pdf" %}">DOCUMENTACION</a></li>
      </ul>
    </section>
  </nav>
  <!--END MENU DESKTOPS-->

  <!--MENU MOVILES-->
  <nav class="tab-bar show-for-small">
    <a aria-expanded="false" class="left-off-canvas-toggle menu-icon">
      <span>Bio</span>
    </a>
  </nav>
  <aside class="marketing-left-off-canvas-menu">
    <ul class="off-canvas-list">
	    <li><a href="/">INICIO</a></li>
      <li><a href="/insertar/">INSERTAR</a></li>      
      <li><a href="/buscar/">BUSCAR</a></li>
      <li><a href="/eliminar/">ELIMINAR</a></li>
      <li><a href="{% static "Documentacion-Django.pdf" %}">DOCUMENTACION</a></li>
     </ul>
  </aside>
  <a class="exit-off-canvas" href="#"></a>
  <!--END MENU MOVILES-->
  
    <div class="row">
      	{% if inserta %}
        <div class="formulario">
          {% if files %}
            <p>Archivos pendientes de insertar:</p>
            {% for archivos in files%}
            <form action="." method="post">{% csrf_token %}
              <input type="hidden" name="pk" value="{{ archivos.id}}"/>
              <label>{{archivos.files}}</label>
              <input type="submit" value="Cargar" name="cargar"/>
            </form>
            {% endfor%}
          {% endif %}
          
          <h2>Ingrese los datos:</h2>
        	<form action="/insertar/" method="post">{% csrf_token %}
    				{{ form }}
    				<input type="submit" name="submit" value="Crear Articulo">
    			</form>
        </div>

        <script type="text/javascript">
          var titulo = document.getElementById("id_titulo");

        </script>

        {% endif %}

        {% if home %}
        <h1>Articulos en la base de datos</h1>
          <div class="articulos">
            {% for objetos in articulos %}
            <div class="medium-12 columns">
              <p><a href="/buscar/?titulo={{ objetos.titulo }}"><b>Titulo:</b> <i>{{ objetos.titulo }}</i></a></p>
              <!--<p><b>Fecha:</b> <i>{{objetos.fecha}}</i></p>
              <p><b>Editorial:</b> <i>{{ objetos.editorial }}</i></p>
              <p><b>Autores:</b> <i>{{ objetos.autores }}</i></p>
              <p><b>Fecha de publicacion:</b> <i>{{ objetos.publiDate }}</i></p>
              <p><b>Abstracto:</b> <i>{{ objetos.abstracto }}</i></p>
              <p><b>Comentarios:</b> <i>{{ objetos.comentarios }}</i></p>
              <p><b>Numero de paginas:</b> <i>{{ objetos.numPaginas }}</i></p>
              <p><b>Palabras clave:</b> <i>{{ objetos.palClave }}</i></p>
              <p><b>URL:</b> <i>{{ objetos.url }}</i></p>-->
              <hr>
            </div>
            {% endfor %}
          </div>
        {% endif %}

  </div>
</div>
  
  <script src="{% static "js/vendor/jquery.js" %}"></script>
  <script src="{% static "js/foundation.min.js" %}"></script>
  <script>
    $(document).foundation();
  </script>

  <script type="text/javascript">
    $.noConflict(true);
  </script>

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <!--<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>-->

  {% if cargar %}
    <script type="text/javascript">
      document.getElementById("id_titulo").value = "{{titulo}}"
      document.getElementById("id_fecha").value = "{{fecha_m}}/{{fecha_d}}/{{fecha_y}}"
      /*document.getElementById("id_editorial").value = "{{editorial}}"
      document.getElementById("id_autores").value = "{{autores}}"*/
      document.getElementById("id_url").value = "{{url}}"
      document.getElementById("id_abstracto").value = "{{abstracto}}"
      document.getElementById("id_palClave").value = "{{palcla}}"
      document.getElementById("id_numPaginas").value = "{{numpag}}"
      document.getElementById("id_comentarios").value = "{{comentarios}}"
    </script>
  {% endif %}

</body>
</html>
